@import "@fontsource/itim"; 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(43, 71, 228, 0.87); */
  color: var(--text-color);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --background-color: #F8F4E1;
  --header-color: #D4B183;
  --card-background-color: #C4A379;
  --text-color: #67421D;
  --button-color: #8B5E3C;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Itim', cursive;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

